.cardLayout {
  height: calc(100vh - 8rem);
  overflow-y: auto;
}

@media (min-width: 1919.98px) {
  .cardLayout {
    height: calc(100vh - 10rem);
    overflow-y: auto;
  }
}

@media (max-width: 1199.98px) and (orientation: portrait) {
  .cardLayout {
    height: calc(100vh - 10rem);
    overflow-y: auto;
  }
}
